/* Change the title font */
.stApp h1 {
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 36px;
}

/* Change the header font */
.stApp h2, .stApp h3 {
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 24px;
}
